.projeto-agony{
    display: block;
    padding-top: 120px;
}

.logo-agony{
    display: flex;
    margin-top: -40px;
    justify-content: center;
}

.agony-info{
    font-family: "Urbanist", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 50px;
}

.projeto-texto-agony{
    padding-bottom: 40px;
    padding-left: 5px;
    position: relative;
}

.projeto-texto-agony2{
    padding-bottom: 40px;
    padding-left: 5px;
    position: relative;
}

.projeto-softwares-agony{
    display: flex;
    gap: 10px;
    padding-left: 5px;
    position: relative;
}

.projeto-softwares-agony::before{
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    border-radius: 50px 50px;
    background: #E5410D;
    position: absolute;
    top: -3px;
    left: -9px;
}

.projeto-texto-agony::before{
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    border-radius: 50px 50px;
    background: #E5410D;
    position: absolute;
    top: -3px;
    left: -9px;
}

.projeto-texto-agony2::before{
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    border-radius: 50px 50px;
    background: #E5410D;
    position: absolute;
    top: -3px;
    left: -9px;
}

.cores-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    font-family:"Urbanist", sans-serif;
    font-size: 1rem;
    text-align: center;
}

.cor-agony-1{
    background-color: #E5410D;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
}
.cor-agony-2{
    background-color: #F1734C;
    color: #000000;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
}
.cor-agony-3{
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
}
.cor-agony-4{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
}

.mockups-agony{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 80px 0px 40px 0px;
}

@media (max-width: 1024px){
    .mockups-agony img{
        width: 800px;
    }
}

@media (max-width: 768px){
    .logo-agony{
        display: flex;
        margin-top: -60px;
    }

    .projeto-texto-agony{
        padding-bottom: 25px;
        font-size: 1rem;
    }
    
    .projeto-texto-agony2{
        padding-bottom: 25px;
        font-size: 1rem;
    }

    .projeto-texto-1::before{
        height: 30px;
    }
    
    .projeto-texto-2::before{
        height: 30px;
    }

    .projeto-softwares-agony img{
        width: 25px;
    }

    .projeto-softwares-agony::before{
        height: 30px;
    }

    .cores-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 50px;
        font-size: 0.7rem;
        text-align: center;
    }

    .cor-agony-1{
        background-color: #E5410D;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
    }

    .mockups-agony img{
        width: 580px;
    }
}

@media (max-width: 428px){

    .logo-agony{
        display: flex;
        margin-top: -60px;
    }

    .projeto-texto-agony{
        padding-bottom: 25px;
        font-size: 1rem;
    }
    
    .projeto-texto-agony2{
        padding-bottom: 25px;
        font-size: 1rem;
    }

    .projeto-texto-agony::before{
        height: 30px;
    }
    
    .projeto-texto-agony2::before{
        height: 30px;
    }

    .projeto-softwares-agony img{
        width: 25px;
    }

    .projeto-softwares-agony::before{
        height: 30px;
    }

    .cores-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-top: 50px;
        font-size: 0.7rem;
        text-align: center;
    }

    .cor-agony-1{
        background-color: #E5410D;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
    }

    .mockups-agony img{
        width: 320px;
    }
}



