.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu li{
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    border: 2px solid transparent;
    padding: 12px;
    transition: 0.2s;
}

.header-menu li:hover{
    border-color: #0E0C0C;
    transform: translateY(-2px);
    font-weight: 600;
}

@media (max-width: 768px){

    .header{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .header-menu{
        justify-content: center;
        gap: 20px;
    }

    .header-menu li{
        padding: 8px;
        font-size: 0.75rem;
    }
}